body{
    background-color: beige;
    color: #ED6A5A;
    font-size: 24px;
}
<nav> 
{
    background-color: coral;
    color: aqua;
}
</nav>
    <main> </main>
{
    background-color: cornsilk;
    color: cadetblue;
}
    <footer>
{
    background-color: beige;
    color: aquamarine;
}
</footer>
